$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$background-moredark: #4527A0;

.spacer{
    flex: 1 1 auto;
}

.background-primary{
    background-color: $background-dark;
}
.text-floral-white{
    color: floralwhite; 
}